:root{
    --color-primary: #092635;
    --color-secondary: #1B4242;
    --color-tertiary: #8af7f1;
    --color-fourthiary: #9EC8B9;
    --color-fifthiary: #000000; 
    --color-sixthiary: #06020c;
}

body{
    background-image: url("../img/orangeRectangle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/**------------------------------------------------------------------------
 *!                           NAVBAR
 *------------------------------------------------------------------------**/

.navbar-words{
    color: white;
    padding-left: 10vh;
}

.navbar-words:hover{
    color: rgb(212, 163, 71);
    text-decoration: underline;
}

#navbar2 {
    background: #0c041cd5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/**------------------------------------------------------------------------
 *!                           Home
 *------------------------------------------------------------------------**/


svg {
    width: 100%;
    height: 300px;
}

circle {
    animation: stars 1s infinite linear;
}

@keyframes stars {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%
    }
    
}



@keyframes stars{
    0% {
        opacity: 100%;
    } 
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}



#Profile{
    margin-top: 10vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20vh;
}




h1, h5, P{
    color: white;
}

/**------------------------------------------------------------------------
 *!                           Professional Profile
 *------------------------------------------------------------------------**/

 .professionalProfile{
    width: 80%;
    margin-top: 40vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20vh;
 }