:root{
    --color-primary: #092635;
    --color-secondary: #1B4242;
    --color-tertiary: #8af7f1;
    --color-fourthiary: #9EC8B9;
    --color-fifthiary: #000000; 
    --color-sixthiary: #06020c;
}


.eb-garamond-p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

.background {
    position: absolute;
    background: linear-gradient(
        to bottom, 
        #0f021b 0%,
        #1a082c 30%,
        #f97700 150%
        );
    width: 100%;
    height: 500%;
    z-index: -3;
    transform: rotate(180deg);
}


/**------------------------------------------------------------------------
 *!                           NAVBAR
 *------------------------------------------------------------------------**/

 #navbar {
    background: #0c041cd5;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    position: fixed;
    z-index: 1000;
    padding: 1vh 0;
}

.navbar-toggler {
  border-color: white; /* Optional: change border */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22' /%3E%3C/svg%3E");
}

.navbarContainer{
    margin-left: 30vh;
}

.navbar a,
.navbar a:visited,
.navbar a:focus,
.navbar a:active{
    font-size: 3vh;
    color: white;
    padding-left: 10vh;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar a:hover{
    color: rgb(212, 163, 71);
    text-decoration: underline;
}

@media screen and (max-width:200vh) {
    .navbarTab {
        background: #0c041cd5;
        border: 0.5vh solid white;
    }
}


/**------------------------------------------------------------------------
 *!                           Home
 *------------------------------------------------------------------------**/


svg {
    position: absolute;
    width: 100%;
    height: 230vh;
}

circle {
    animation: stars 1s infinite linear;
}


@keyframes stars{
    0% {
        opacity: 100%;
    } 
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.profileContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    border: 0.1vh solid transparent;
    margin-top: 20vh;
    margin-bottom: 70vh;
    z-index: 8;
}

.profile{
    text-align: center;
    align-items: center;
}

.forest img{
    left: 0vh;
    margin-top: 30vh;
    position: fixed;
    height: 70vh;
    width: 100%;
    z-index: 3;
    animation: forest linear forwards;
    animation-timeline: view(1vh 50vh);
}

.mountain img{
    left: 0vh;
    position: fixed;
    height: 50vh;
    bottom: 1vh;
    width: 100%;
    animation: mountain linear forwards;
    animation-timeline: view(1vh 50vh);
    z-index: 2;
}

.forestMountain img{
    left: 0vh;
    position: fixed;
    height: 100vh;
    width: 100%;
    animation: forestMountain linear forwards;
    animation-timeline: view(1vh 50vh);
    z-index: 1;
 }

 @keyframes forest{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10vh);
    }
}

@keyframes mountain{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10vh);
    }
}

 @keyframes forestMountain {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(80vh);
    }
    
 }



h1, h5, P{
    color: white;
}

/**------------------------------------------------------------------------
 *!                           Professional Profile
 *------------------------------------------------------------------------**/

.professionalContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

 .professionalProfile{
    width: 80%;
    text-align: center;
    animation: fadeIn linear forwards;
    animation-timeline: view(50% 1%);
    z-index: 1;
 }

 .professionalProfile p {
    font-size: large;
    color: rgb(255, 255, 255);
 }

 .professionalProfile h1{
    font-style: italic;
 }

 .professionalContainer img {
    rotate: 20deg;
    width: 100%;
    height: 100%;
    border: 1vh solid rgb(0, 0, 0);
 }

 .professionalProfile .img-container {
    margin-left: 5vh;
    display: flex;
    justify-content: center;
    rotate: -20deg;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    width: 100%;
    height: 80%;
 }


 /**------------------------------------------------------------------------
  *!                           Formation 
  *------------------------------------------------------------------------**/

.formationContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 20vh;

}

.formation{
    width: 80%;
    text-align: center;
    align-items: center;
    z-index: 1;
}

  .formation p {
    font-size: large;
    color: rgb(255, 255, 255);
 }

 .formation h1{
    font-style: italic;
 }

.formation img {
    rotate: 20deg;
    width: 100%;
    height: 100%;
    border: 1vh solid rgb(0, 0, 0);
 }

  .formation .img-container {
    margin-right: 5vh;
    display: flex;
    justify-content: center;
    rotate: -20deg;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    width: 100%;
    height: 80%;
 }

/**------------------------------------------------------------------------
 *!                           Skills
 *------------------------------------------------------------------------**/

 .skills{
    position: relative;
    color: white;
    background: rgb(31, 30, 30);
    width: 60%;
    height: 100%;
    box-shadow: 1vh 1vh 1vh black;
    z-index: 1;
 }

 .vertical{
    margin-right: 3vh;
    width: 10%;
    writing-mode: vertical-lr;
    text-decoration: underline;
 }

 .skillImg{
    margin-right: 1vh;
    margin-bottom: 1vh;
    width: 10vh;
    background: black;
    border: 0.5vh solid black;
    box-shadow: 1vh 1vh 1vh black;
 }

/**------------------------------------------------------------------------
 *!                           Experiences
 *------------------------------------------------------------------------**/
.experienceContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

 .experience{
    display: flex;
    justify-content: center;
    width: 40%;
    text-align: center;
    align-items: center;
 }

 .experience h5,.experience p{
    color: #000000; 
}

.experienceCapt{
    background: rgba(255, 255, 255, 0.336);
}

 .img-experience {
    height: 40vh;
    width: 70vh;
 }

 .experienceCarousel{
    width: 100%;
 }

 /**------------------------------------------------------------------------
 *!                           Contact
 *------------------------------------------------------------------------**/
 .contactContainer{
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .contact {
    padding: 3vh;
    background: rgba(0, 0, 0, 0.473);
    border: 0.5vh solid white;
    width: 80vh;
    height: 40vh;
    z-index: 1;
 }

 .contact p {
    position: relative;
    font-family: "EB Garamond", serif;
    color: rgb(255, 255, 255);
    font-size: large;
    z-index: 9;
 }

 .rowEmail{
    margin-top: 5vh;
 }

 .colName{
    margin-top: 15vh;
 }