:root{
    --color-primary: #092635;
    --color-secondary: #1B4242;
    --color-tertiary: #8af7f1;
    --color-fourthiary: #9EC8B9;
    --color-fifthiary: #000000; 
    --color-sixthiary: #06020c;
}

.background img{
    display: flex;
    width: 100%;
    height: 570%;
    position: absolute;
    z-index: -3;
    rotate: 180deg;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/**------------------------------------------------------------------------
 *!                           NAVBAR
 *------------------------------------------------------------------------**/

 #navbar {
    background: #0c041cd5;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    position: fixed;
    z-index: 1000;
    padding: 1vh 0;
}

.navbarContainer{
    margin-left: 30vh;
}

.navbar-words{
    font-size: 3vh;
    color: white;
    padding-left: 10vh;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-words:hover{
    color: rgb(212, 163, 71);
    text-decoration: underline;
}



/**------------------------------------------------------------------------
 *!                           Home
 *------------------------------------------------------------------------**/


svg {
    width: 100%;
    height: 300px;
}

circle {
    animation: stars 1s infinite linear;
}


@keyframes stars{
    0% {
        opacity: 100%;
    } 
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.profileContainer{
    width: 100%;
    border: 0.1vh solid transparent;
    margin-top: 20vh;
    margin-bottom: 60vh;
    z-index: 8;
}

.profile{
    margin-left: 90vh;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 40vh;
}

.forest img{
    margin-top: 30vh;
    position: fixed;
    height: 70vh;
    width: 100%;
    z-index: -1;
    animation: forest linear forwards;
    animation-timeline: view(1vh 50vh);
}

.mountain img{
    position: fixed;
    height: 70vh;
    width: 100%;
    animation: mountain linear forwards;
    animation-timeline: view(1vh 50vh);
    z-index: -3;
}

.forestMountain img{
    position: fixed;
    height: 100vh;
    width: 99%;
    animation: forestMountain linear forwards;
    animation-timeline: view(1vh 50vh);
    z-index: -2;
 }

 @keyframes forest{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10vh);
    }
}

@keyframes mountain{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10vh);
    }
}

 @keyframes forestMountain {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(80vh);
    }
    
 }



h1, h5, P{
    color: white;
}

/**------------------------------------------------------------------------
 *!                           Professional Profile
 *------------------------------------------------------------------------**/

 .professionalProfile{
    width: 80%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20vh;
    margin-top: 20vh;
    animation: fadeIn linear forwards;
    animation-timeline: view(50% 1%);
    z-index: 9;
 }




 /**------------------------------------------------------------------------
  *!                           Formation 
  *------------------------------------------------------------------------**/

.formation{
    width: 80%;
    margin-top: 40vh;
    margin-left: 40vh;
    text-align: center;
    align-items: center;
    margin-bottom: 20vh;
}

/**------------------------------------------------------------------------
 *!                           Skills
 *------------------------------------------------------------------------**/

 .skills{
    color: white;
    background: rgb(31, 30, 30);
    width: 50%;
    height: 100%;
    box-shadow: 1vh 1vh 1vh black;
 }

 .vertical{
    margin-right: 1vh;
    width: 10%;
    writing-mode: vertical-lr;
    text-decoration: underline;
 }

 .skillImg{
    margin-right: 1vh;
    margin-bottom: 1vh;
    width: 10vh;
    background: black;
    border: 0.5vh solid black;
    box-shadow: 1vh 1vh 1vh black;
 }

/**------------------------------------------------------------------------
 *!                           Experiences
 *------------------------------------------------------------------------**/
.experiences h5,.experiences p{
    color: #000000; 
}

.experienceCapt{
    background: rgba(255, 255, 255, 0.336);
}

 .experiences{
    text-align: center;
    justify-content: center;
    width: 99%;
    margin-top: 40vh;
 }

 .experiences img{
    height: 50vh;
    width: 100%;
 }

 .experienceCarousel{
    margin-left: 55vh;
    width: 50%;
 }